/snake-race-thread-concurrency/target/

/wait-notify-excercise/target/
/wait-notify-excercise/pom.xml.tag
/wait-notify-excercise/pom.xml.releaseBackup
/wait-notify-excercise/pom.xml.versionsBackup
/wait-notify-excercise/pom.xml.next
/wait-notify-excercise/release.properties